WpfAppGestionGarageManagement/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AjoutVoitre_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitre" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutVoitre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppVoitureById_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureById" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppVoitureById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoiture_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoiture" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoiture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoitureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoitures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListVoitures" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoitures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritere" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritereResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AjoutVoitre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AjoutVoitre" message="tns:IService1_AjoutVoitre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AjoutVoitreResponse" message="tns:IService1_AjoutVoitre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppVoitureById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuppVoitureById" message="tns:IService1_SuppVoitureById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuppVoitureByIdResponse" message="tns:IService1_SuppVoitureById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifVoiture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifVoiture" message="tns:IService1_ModifVoiture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifVoitureResponse" message="tns:IService1_ModifVoiture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListVoitures">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListVoitures" message="tns:IService1_ListVoitures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListVoituresResponse" message="tns:IService1_ListVoitures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechercheParCritere" message="tns:IService1_RechercheParCritere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercheParCritereResponse" message="tns:IService1_RechercheParCritere_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjoutVoitre">
      <soap:operation soapAction="http://tempuri.org/IService1/AjoutVoitre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuppVoitureById">
      <soap:operation soapAction="http://tempuri.org/IService1/SuppVoitureById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifVoiture">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifVoiture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVoitures">
      <soap:operation soapAction="http://tempuri.org/IService1/ListVoitures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <soap:operation soapAction="http://tempuri.org/IService1/RechercheParCritere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:90/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>