WpfAppGestionGarageManagement/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" />
  <xs:element name="AjoutVoitre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q1:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutVoitreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutVoitreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppVoitureById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppVoitureByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuppVoitureByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoiture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q2:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifVoitureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoitures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="ListVoituresResult" nillable="true" type="q3:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="critere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="RechercheParCritereResult" nillable="true" type="q4:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>