WcfServiceGestionGarage/Connected Services/ServiceReferenceWSGarage/WSGarage4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/WSGarage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" />
  <xs:import schemaLocation="http://localhost:90/WSGarage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
  <xs:element name="AjoutVoitre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q1:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutVoitreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutVoitreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppVoitureById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppVoitureByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuppVoitureByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoiture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q2:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoitureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifVoitureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoitures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="ListVoituresResult" nillable="true" type="q3:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="critere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="RechercheParCritereResult" nillable="true" type="q4:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="ListVoituresJsonResult" nillable="true" type="q5:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListVoituresXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="ListVoituresXMLResult" nillable="true" type="q6:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeVoituresRSS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeVoituresRSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="ListeVoituresRSSResult" nillable="true" type="q7:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutVoitureJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q8:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutVoitureJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutVoitureJsonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoitureJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="voiture" nillable="true" type="q9:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifVoitureJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifVoitureJsonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheVoitureParCriterJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="critere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheVoitureParCriterJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="RechercheVoitureParCriterJsonResult" nillable="true" type="q10:ArrayOfVoiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVoitureParIdJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherVoitureParIdJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" minOccurs="0" name="RechercherVoitureParIdJsonResult" nillable="true" type="q11:Voiture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>