WpfAppClientGarageWS/Connected Services/ServiceReference1/WSGarage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceGarage.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceGarage.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Voiture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chassis" type="xs:int" />
      <xs:element minOccurs="0" name="Marque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Voiture" nillable="true" type="tns:Voiture" />
  <xs:complexType name="ArrayOfVoiture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voiture" nillable="true" type="tns:Voiture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoiture" nillable="true" type="tns:ArrayOfVoiture" />
</xs:schema>