WpfAppClientGarageWS/Connected Services/ServiceReference1/WSGarage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSGarage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65242/WSGarage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65242/WSGarage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65242/WSGarage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGarage.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSGarage_AjoutVoiture_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoiture" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_AjoutVoiture_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitureResponse" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_ModifVoiture_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoiture" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_ModifVoiture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoitureResponse" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_SuppVoitureById_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureById" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_SuppVoitureById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_GetVoitures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoitures" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_GetVoitures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoituresResponse" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_RechercheParCritere_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritere" />
  </wsdl:message>
  <wsdl:message name="IWSGarage_RechercheParCritere_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritereResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSGarage">
    <wsdl:operation name="AjoutVoiture">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGarage/AjoutVoiture" message="tns:IWSGarage_AjoutVoiture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGarage/AjoutVoitureResponse" message="tns:IWSGarage_AjoutVoiture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifVoiture">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGarage/ModifVoiture" message="tns:IWSGarage_ModifVoiture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGarage/ModifVoitureResponse" message="tns:IWSGarage_ModifVoiture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppVoitureById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGarage/SuppVoitureById" message="tns:IWSGarage_SuppVoitureById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGarage/SuppVoitureByIdResponse" message="tns:IWSGarage_SuppVoitureById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoitures">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGarage/GetVoitures" message="tns:IWSGarage_GetVoitures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGarage/GetVoituresResponse" message="tns:IWSGarage_GetVoitures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGarage/RechercheParCritere" message="tns:IWSGarage_RechercheParCritere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGarage/RechercheParCritereResponse" message="tns:IWSGarage_RechercheParCritere_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSGarage" type="tns:IWSGarage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjoutVoiture">
      <soap:operation soapAction="http://tempuri.org/IWSGarage/AjoutVoiture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifVoiture">
      <soap:operation soapAction="http://tempuri.org/IWSGarage/ModifVoiture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuppVoitureById">
      <soap:operation soapAction="http://tempuri.org/IWSGarage/SuppVoitureById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoitures">
      <soap:operation soapAction="http://tempuri.org/IWSGarage/GetVoitures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <soap:operation soapAction="http://tempuri.org/IWSGarage/RechercheParCritere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGarage">
    <wsdl:port name="BasicHttpBinding_IWSGarage" binding="tns:BasicHttpBinding_IWSGarage">
      <soap:address location="http://localhost:65242/WSGarage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>