ConsoleAppGarageManagement/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceGestionGarage.Model" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
      <xsd:import schemaLocation="http://localhost:90/Service1.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AjoutVoitre_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitre" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutVoitre_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitreResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppVoitureById_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureById" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppVoitureById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppVoitureByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoiture_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoiture" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoiture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoitureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoitures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListVoitures" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoitures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritere" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritereResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoituresJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresJson" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoituresJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoituresXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresXML" />
  </wsdl:message>
  <wsdl:message name="IService1_ListVoituresXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListVoituresXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListeVoituresRSS_InputMessage">
    <wsdl:part name="parameters" element="tns:ListeVoituresRSS" />
  </wsdl:message>
  <wsdl:message name="IService1_ListeVoituresRSS_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeVoituresRSSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutVoitureJson_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitureJson" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutVoitureJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutVoitureJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoitureJson_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoitureJson" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifVoitureJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifVoitureJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheVoitureParCriterJson_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercheVoitureParCriterJson" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheVoitureParCriterJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheVoitureParCriterJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercherVoitureParIdJson_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercherVoitureParIdJson" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercherVoitureParIdJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercherVoitureParIdJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AjoutVoitre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AjoutVoitre" message="tns:IService1_AjoutVoitre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AjoutVoitreResponse" message="tns:IService1_AjoutVoitre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppVoitureById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuppVoitureById" message="tns:IService1_SuppVoitureById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuppVoitureByIdResponse" message="tns:IService1_SuppVoitureById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifVoiture">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifVoiture" message="tns:IService1_ModifVoiture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifVoitureResponse" message="tns:IService1_ModifVoiture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListVoitures">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListVoitures" message="tns:IService1_ListVoitures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListVoituresResponse" message="tns:IService1_ListVoitures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechercheParCritere" message="tns:IService1_RechercheParCritere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercheParCritereResponse" message="tns:IService1_RechercheParCritere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListVoituresJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListVoituresJson" message="tns:IService1_ListVoituresJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListVoituresJsonResponse" message="tns:IService1_ListVoituresJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListVoituresXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListVoituresXML" message="tns:IService1_ListVoituresXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListVoituresXMLResponse" message="tns:IService1_ListVoituresXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListeVoituresRSS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListeVoituresRSS" message="tns:IService1_ListeVoituresRSS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListeVoituresRSSResponse" message="tns:IService1_ListeVoituresRSS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjoutVoitureJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AjoutVoitureJson" message="tns:IService1_AjoutVoitureJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AjoutVoitureJsonResponse" message="tns:IService1_AjoutVoitureJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifVoitureJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifVoitureJson" message="tns:IService1_ModifVoitureJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifVoitureJsonResponse" message="tns:IService1_ModifVoitureJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercheVoitureParCriterJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechercheVoitureParCriterJson" message="tns:IService1_RechercheVoitureParCriterJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercheVoitureParCriterJsonResponse" message="tns:IService1_RechercheVoitureParCriterJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercherVoitureParIdJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechercherVoitureParIdJson" message="tns:IService1_RechercherVoitureParIdJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercherVoitureParIdJsonResponse" message="tns:IService1_RechercherVoitureParIdJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1" />
</wsdl:definitions>