ConsoleAppClientAbonne/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" />
  <xs:element name="AjoutAbonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" minOccurs="0" name="abonne" nillable="true" type="q1:Abonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutAbonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutAbonneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppAbonneById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppAbonneByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuppAbonneByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifAbonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" minOccurs="0" name="abonne" nillable="true" type="q2:Abonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifAbonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifAbonneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAbonnes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAbonnesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" minOccurs="0" name="ListAbonnesResult" nillable="true" type="q3:ArrayOfAbonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="critere" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheParCritereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" minOccurs="0" name="RechercheParCritereResult" nillable="true" type="q4:ArrayOfAbonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>