ConsoleAppClientAbonne/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWServiceAbonnes.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AjoutAbonne_InputMessage">
    <wsdl:part name="parameters" element="tns:AjoutAbonne" />
  </wsdl:message>
  <wsdl:message name="IService1_AjoutAbonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjoutAbonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppAbonneById_InputMessage">
    <wsdl:part name="parameters" element="tns:SuppAbonneById" />
  </wsdl:message>
  <wsdl:message name="IService1_SuppAbonneById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuppAbonneByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifAbonne_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifAbonne" />
  </wsdl:message>
  <wsdl:message name="IService1_ModifAbonne_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifAbonneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListAbonnes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAbonnes" />
  </wsdl:message>
  <wsdl:message name="IService1_ListAbonnes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAbonnesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritere" />
  </wsdl:message>
  <wsdl:message name="IService1_RechercheParCritere_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercheParCritereResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AjoutAbonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AjoutAbonne" message="tns:IService1_AjoutAbonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AjoutAbonneResponse" message="tns:IService1_AjoutAbonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuppAbonneById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SuppAbonneById" message="tns:IService1_SuppAbonneById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SuppAbonneByIdResponse" message="tns:IService1_SuppAbonneById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifAbonne">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ModifAbonne" message="tns:IService1_ModifAbonne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ModifAbonneResponse" message="tns:IService1_ModifAbonne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAbonnes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListAbonnes" message="tns:IService1_ListAbonnes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListAbonnesResponse" message="tns:IService1_ListAbonnes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RechercheParCritere" message="tns:IService1_RechercheParCritere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RechercheParCritereResponse" message="tns:IService1_RechercheParCritere_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AjoutAbonne">
      <soap:operation soapAction="http://tempuri.org/IService1/AjoutAbonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuppAbonneById">
      <soap:operation soapAction="http://tempuri.org/IService1/SuppAbonneById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifAbonne">
      <soap:operation soapAction="http://tempuri.org/IService1/ModifAbonne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAbonnes">
      <soap:operation soapAction="http://tempuri.org/IService1/ListAbonnes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercheParCritere">
      <soap:operation soapAction="http://tempuri.org/IService1/RechercheParCritere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>